# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "50d84e88686e98fa8fe976480f93b15a"
name = "optimised-wishlist-plus"
handle = "optimised-wishlist-plus"
application_url = "https://unable-and-sun-classified.trycloudflare.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
dev_store_url = "wishlist-lot.myshopify.com"
include_config_on_deploy = true

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [
  "https://unable-and-sun-classified.trycloudflare.com/auth/callback",
  "https://unable-and-sun-classified.trycloudflare.com/auth/shopify/callback",
  "https://unable-and-sun-classified.trycloudflare.com/api/auth/callback"
]

[webhooks]
api_version = "2024-10"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

[pos]
embedded = false
